{% extends 'base.html' %}
{% block content %}

<div>
<h1>Welcome to inSynch</h1>
<hr />
<p>Match your mood to one our playlist or create your own!</p>
</div>
</br></br>

<a href="{% url 'mood' 'angry' %}">angry</a>
</br>
<a href="{% url 'mood' 'cheerful' %}">cheeful</a>
</br>
<a href="{% url 'mood' 'melancholy' %}">melancholy</a>
</br>
<a href="{% url 'mood' 'calm' %}">calm</a>
</br>
<a href="{% url 'mood' 'romantic' %}">romantic</a>
</br>
<a href="{% url 'mood' 'mysterious' %}">mysterious</a>

<div class="row">
    <div class="col s4 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Cheerful</span>
          <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>Description for Cheerful playlist...</p>
        </div>
      </div>
    </div>
    <div class="col s4 m6">
        <div class="card">
          <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Melancholy</span>
            <a class="btn-floating halfway-fab waves-effect waves-light purple"><i class="material-icons">+</i></a>
          </div>
          <div class="card-content">
            <p>Description for Melancholy playlist...</p>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col s4 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Calm</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>Description for Calm playlist...</p>
        </div>
      </div>
    </div>
    <div class="col s4 m6">
        <div class="card">
          <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Angry</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
          </div>
          <div class="card-content">
            <p>Description for Angry playlist...</p>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col s4 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Romantic</span>
          <a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p>Description for Romantic playlist...</p>
        </div>
      </div>
    </div>
    <div class="col s4 m6">
        <div class="card">
          <div class="card-image">
            <img src="images/sample-1.jpg">
            <span class="card-title">Mysterious</span>
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">+</i></a>
          </div>
          <div class="card-content">
            <p>Description for Mysterious playlist...</p>
          </div>
        </div>
      </div>
</div>



{% endblock %}