{% extends 'base.html' %}
{% block content %}

<h1>{{ mood }} List</h1>

{% for song in songs %}
  
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ song.name }}</span>
            <p>BAND: {{ song.band }}</p>
            <p>MOOD: {{ song.mood }}</p>
          
            <p>User: {{ song.posted_by }}</p>
            {% if user == song.posted_by %}
            <a href="{% url 'songs_update' song.id %}">Update</a>
            <a href="{% url 'songs_delete' song.id %}">Delete</a>
            {% else %}
            <p>It worked</p>
            {% endif %}
        </div>

        <div>
            <p><a href="{% url 'vote_agree' song.id %}">agree</a>{{ song.agree }}</p>
            <p><a href="{% url 'vote_disagree' song.id %}">disagree</a>{{ song.disagree }}</p>
            
            
        </div>
    </div>
  
{% endfor %}

{% endblock %}