body {
    font-family: 'Jost', sans-serif;
    background: url('https://i.imgur.com/BVhCmHO.jpg');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

a {
    color: darkblue;
}

.material-icons.md-48 {
    font-size: 6rem;
}

form {
    background-color: aliceblue;
    border-radius: 6px;
}

input.btn {
    background-color: crimson;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
} 